importFrom(ggplot2, aes, aes_string, element_blank,
           geom_point, geom_vline,
           theme, theme_bw, xlab, ylab)
importFrom(limma, contrasts.fit, eBayes, lmFit, makeContrasts)
importFrom(mixtools,normalmixEM)
importFrom(stats, dnorm, pnorm, median)

export(calculateGeneLFC)
export(calculateGenePval)
export(runLimma)
export(permuteLimma)
export(medianNormalization)
export(normalMM)
export(scatterPlot)
